{% extends 'base.html' %}
{% block title %} Login! {% endblock %}
    {% block content %}
<h1>Login...</h1>
<br><br>

<div class="form-group">
    <form action="" method="post">
     {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>
          <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password">

         </div>
        <br>
            <button class="btn btn-secondary">Login</button>
        <br>
    </form>
</div>
        <br>

     <div class="form-text">Not a user yet? Register <a href="{% url 'register' %}">Here</a></div>
    {% endblock %}

