{% extends 'base.html' %}

{% block title %} {{post.title_tag }} {% endblock %}
    {% block content %}

 <h1>{{ post.title }}</h1>

    <small>By: {{post.author.first_name }} {{post.author.last_name }} - {{ post.post_date }} <br><br>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}

                - <a href="{% url 'update_post' post.pk%}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk%}">(Delete)</a></small><br>
            {% else %}

            <div class="alert alert-primary" role="alert">
                Only user who created the post can delete or edit it!
            </div>

            {% endif%}

        {% endif %}
        <hr>
        <br>
        <img src="{{ post.header_image.url }}" alt="">
        <br><br>
        {{post.body|safe}}

        <br><br>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        <br><br>
        <hr>
        <br>
        <form action="{% url 'like_post'  post.pk%}" method="post">
            {% csrf_token %}

            {% if user.is_authenticated %}

            {% if liked %}

                <button type="submit", name="post_id", value="{{ post.id }}",
                        class="btn btn-danger btn-sm">Unlike</button>

            - {{ total_likes }} Likes

            {% else %}

                <button type="submit", name="post_id", value="{{ post.id }}",
                        class="btn btn-primary btn-sm">Like</button>


            - {{ total_likes }} Likes

            {% endif %}

            {% else %}

                <small><a href="{% url 'login' %}">Login </a>to like</small>

            {% endif %}
        </form>


    {% endblock %}


