{% extends 'base.html' %}
{% load static %}
{% block title %} {{post.title_tag }} {% endblock %}
    {% block content %}

 <h1>{{ post.title }}</h1>

    <small>By: {{post.author.first_name }} {{post.author.last_name }} - {{ post.post_date }} <br><br>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}

                - <a href="{% url 'update_post' post.pk%}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk%}">(Delete)</a></small><br>
            {% else %}

            <div class="alert alert-primary" role="alert">
                Only user who created the post can delete or edit it!
            </div>

            {% endif%}

        {% endif %}
        <hr>
        <br>
        {% if post.header_image %}
            <img src="{{ post.header_image.url }}" class="border border-primary rounded-bottom" width="1000" height="400" alt="">
            <br><br>
        {% endif %}
        {{post.body|safe}}

<hr>
        <form action="{% url 'like_post'  post.pk%}" method="post">
            {% csrf_token %}

            {% if user.is_authenticated %}

            {% if liked %}

                <button type="submit", name="post_id", value="{{ post.id }}",
                        class="btn btn-danger btn-sm">Unlike</button>

            - {{ total_likes }} Likes

            {% else %}

                <button type="submit", name="post_id", value="{{ post.id }}",
                        class="btn btn-primary btn-sm">Like</button>


            - {{ total_likes }} Likes

            {% endif %}

            {% else %}

                <small><a href="{% url 'login' %}">Login </a>to like</small>

            {% endif %}
        </form>
<br><br>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2 position-relative">
        {% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" width="90" height="90" class="rounded-circle position-absolute top-50 start-50 translate-middle" alt="...">

        {% else %}

        <img src="{% static 'theblog/images/1.png' %}" width="90" height="90" class="rounded-circle position-absolute top-50 start-50 translate-middle" alt="...">

        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
            {{post.author.first_name }}
            {{post.author.last_name }}
        </h5>
          <p class="small text-muted">
              <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page </a> |
              {% if post.author.profile.website_url %}
              <a href="{{ post.author.profile.website_url }}">Website </a>
              {% endif %}
              {% if post.author.profile.facebook_url %}
              <a href="{{ post.author.profile.facebook_url }}">| Facebook </a>
              {% endif %}
              {% if post.author.profile.twitter %}
              <a href="{{ post.author.profile.twitter_url }}">| Twitter </a>
              {% endif %}
              {% if post.author.profile.instagram_url %}
              <a href="{{ post.author.profile.instagram_url }}">| Instagram </a>
              {% endif%}
              {% if post.author.profile.pinterest_url %}
              <a href="{{ post.author.profile.pinterest_url }}">| Pinterest </a>
              {% endif %}
            </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>

<br>
<h2>Comments...</h2>
<br>
    {% if not post.comments.all %}
        <h3>No comments yet <a href="#">Be first to comment!</a></h3>
    {% else %}
        {% for comment in post.comments.all %}
            <strong>{{ comment.name }} -
            {{ comment.date_added}}</strong>
<br>
            {{ comment.body }}
<br><br>


        {% endfor %}
<hr>
    {% endif %}

    {% endblock %}


