{% extends 'base.html' %}
    {% block content %}


{% if category_posts %}
    <h1>{{cats}} category -></h1>
        <ul>
            {% for post in category_posts %}
                   <li><a href="{% url 'article-detail' post.pk %}" >{{post.title}}</a>
           - {{post.author.first_name}}
              {{post.author.last_name}} - {{ post.post_date }}


               {% if user.is_authenticated %}

               - <small><a href="{% url 'update_post' post.pk%}">(Edit)</a> </small>
                <small><a href="{% url 'delete_post' post.pk%}">(Delete)</a> </small>

                {% endif %}
                  {{ post.body|slice:":200"|safe }}

       </li>
            {% endfor %}
        </ul>
{% else %}

    <h1>There are no post about this category! And you know that ;(</h1>

{% endif %}
    {% endblock %}

