{% extends 'base.html' %}
    {% block content %}
<h1>Posts!</h1>
    {% for post in object_list %}
   <li><a href="{% url 'article-detail' post.pk%}" >{{post.title}}</a> - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
       - {{post.author.first_name}}
          {{post.author.last_name}} - {{ post.post_date }}


           {% if user.is_authenticated %}

           - <small><a href="{% url 'update_post' post.pk%}">(Edit)</a> </small>
            <small><a href="{% url 'delete_post' post.pk%}">(Delete)</a> </small>

            {% endif %}
              {{ post.body|slice:":200"|safe }}

   </li>



{% endfor %}

    {% endblock %}

